
Checks: '-*,bugprone-*,performance-*,readability-*,modernize-*,-modernize-use-trailing-return-type,cppcoreguidelines-*'
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/'
AnalyzeTemporaryDtors: false
FormatStyle: none
